In [3]:
#cs21b1069
#Rahul.k
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
data=pd.read_csv('iris.csv')
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
data=data[data['Species']!='Iris-virginica']

In [9]:
data['Species']=data['Species'].astype('category')#encoding two species of flowers as 0 and 1 using encoding below
data['Species']=data['Species'].cat.codes
data

C:\Users\Rahul\AppData\Local\Temp\ipykernel_19416\1131264330.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Species']=data['Species'].astype('category')
C:\Users\Rahul\AppData\Local\Temp\ipykernel_19416\1131264330.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Species']=data['Species'].cat.codes

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0     1            5.1           3.5            1.4           0.2        0
1     2            4.9           3.0            1.4           0.2        0
2     3            4.7           3.2            1.3           0.2        0
3     4            4.6           3.1            1.5           0.2        0
4     5            5.0           3.6            1.4           0.2        0
..  ...            ...           ...            ...           ...      ...
95   96            5.7           3.0            4.2           1.2        1
96   97            5.7           2.9            4.2           1.3        1
97   98            6.2           2.9            4.3           1.3        1
98   99            5.1           2.5            3.0           1.1        1
99  100            5.7           2.8            4.1           1.3        1

[100 rows x 6 columns]

In [10]:
X=data.drop(columns=['Species','Id'])
X['bias']=1
y=data['Species']
X

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  bias
0             5.1           3.5            1.4           0.2     1
1             4.9           3.0            1.4           0.2     1
2             4.7           3.2            1.3           0.2     1
3             4.6           3.1            1.5           0.2     1
4             5.0           3.6            1.4           0.2     1
..            ...           ...            ...           ...   ...
95            5.7           3.0            4.2           1.2     1
96            5.7           2.9            4.2           1.3     1
97            6.2           2.9            4.3           1.3     1
98            5.1           2.5            3.0           1.1     1
99            5.7           2.8            4.1           1.3     1

[100 rows x 5 columns]

In [35]:
xtrain,xtest,ytrain,ytest=train_test_split(X,y,test_size=0.25,random_state=42)

In [48]:
def step_function(x):
    arr=[]
    for i in x:
        if i>=0:
            arr.append(1)
        else:
            arr.append(0)
    return np.array(arr)

In [49]:
w=np.array([0]*5)     #weight vector
a=0.0001    #learning rate
iterations=100000    #number of iterations

In [50]:
def gradient_descent(w,alpha):
    yprediction=np.matmul(xtrain,np.transpose(w))
    yprediction=step_function(yprediction)
    error=(yprediction-np.array(ytrain))
    derivative=[0]*5
    for i in range(len(error)):
        derivative+=xtrain.iloc[i]*error[i]
    w=w-alpha*derivative
    return np.array(w)

In [51]:
count=0
for i in range(iterations):
    w_=gradient_descent(w,a)
    compare =  w==w_
    count+=1
    if compare.all(): #to check if the derivative of error fucntion has become zero or not(convergence)
        break
    w=w_
    print(f"iteration {i+1}:")
    print("Weight vector w =",w)
    yprediction=np.matmul(xtest,w)
    yprediction=step_function(yprediction)
    accuracy=100*sum(ytest==yprediction)/len(yprediction)
    print("accuracy :",accuracy)
print(f"error is minimized at iteration {count-1}")
print(f"weight vector after iteration {count} remains same as it converges")

iteration 1:
Weight vector w = [-0.01796 -0.01222 -0.00526 -0.00087 -0.0036 ]
accuracy : 56.0
iteration 2:
Weight vector w = [ 0.00523 -0.00138  0.01113  0.00426  0.0003 ]
accuracy : 44.0
iteration 3:
Weight vector w = [-0.01273 -0.0136   0.00587  0.00339 -0.0033 ]
accuracy : 56.0
iteration 4:
Weight vector w = [ 0.01046 -0.00276  0.02226  0.00852  0.0006 ]
accuracy : 44.0
iteration 5:
Weight vector w = [-0.0075  -0.01498  0.017    0.00765 -0.003  ]
accuracy : 68.0
iteration 6:
Weight vector w = [ 0.01381 -0.00484  0.03201  0.01235  0.0006 ]
accuracy : 44.0
iteration 7:
Weight vector w = [-0.00415 -0.01706  0.02675  0.01148 -0.003  ]
accuracy : 100.0
error is minimized at iteration 7
weight vector after iteration 8 remains same as it converges